.App {
  display: flex;
  text-align: center;
  background-color: var(--background);
  color: var(--text-light);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.image {
  display: block;
  height: 60vh;
  width: 90vw;
  object-fit: contain;
  margin: 16px;
}

header {
  margin: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin: 0 16px;
  justify-content: center;
}

.buttonContainer button {
  align-self: center;
  margin: 0 4px;
  min-height: 40px;
  min-width: 100px;
  border-radius: 8px;
  border: 0px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-out 100ms;
}

.buttonContainer button:hover {
  align-self: center;
  margin: 0 4px;
  min-height: 40px;
  min-width: 100px;
  border-radius: 8px;
  border: 0px solid transparent;
  cursor: pointer;
  background-color: var(--background);
  color: var(--text-light);
  border: 1px solid var(--text-light);
}
